* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}


.App {
  text-align: center;
}

img {
 width: 100%;
}

.container {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* i want the element to hover */
/* overflow heading hides the overlay inside of the green box */
.item {
  /* flex: 1;
  flex-basis: 120px; */
  padding: 30px;
  position: relative;
  border: 1px solid green;
  overflow: hidden;
}

/* to stop the flickering i changed the position of the overlay */
/* to animate css properties I'm using transition */
.overlay {
  transition: bottom ease 1s;
  position: absolute;
  bottom: -150px;
  left: 0;
  width: 100%;
  opacity: .6;
  background-color: deepskyblue;
}

/* i want the browser to find each item and when the user hover each item find the overlay and display it */
.item:hover .overlay {
  opacity: .6;
  bottom: 0;
}
